ul {
  list-style: none;
}

.brand {
  font-weight: bold;
  font-size: 20px;
}

.header-section {
  position: relative;
  background-color: #def7ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__nav-wrapper {
    display: flex;
    &--item {
      display: block;
      padding: 1.5rem 1rem;
    }
  }
}
